{% extends 'blog/base.html' %}

{% block contents %}
    {% for post in context.posts %}
        <div class="card mt-4">
            <div class="card-header">
                {{ post.published_date }}  
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{ post.title }} </h5>
                <p class="card-text">{{ post.text|linebreaksbr }}</p>
                <a href="{% url 'blog:post_detail' pk=post.pk %}"c lass="btn btn-primary">Detail</a>
            </div>
            <div class="card-footer text-muted">
                Categories :{% for cat in  post.category.all %} <span>{{cat}}</span> {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock contents %}