{% extends 'blog/base.html' %}

{% block contents %}
    <div class="card mt-4">
        <div class="card-header">
        {{ context.post.published_date }}   
        {% if user.is_authenticated %}
        <div class="float-right">
            <a class="btn btn-sm btn-primary" href="{% url 'blog:post_edit' pk=context.post.pk %}"><i class="fas fa-pencil-alt"></i></a>
            <a href="{% url 'blog:post_delete' pk=context.post.pk %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
        </div>
        {% endif %}
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ context.post.title }} </h5>
            <p class="card-text">{{ context.post.text }}</p>
        </div>
        <div class="card-footer text-muted">
            Categories :{% for cat in  context.post.category.all %} <a class="badge badge-info" href="/?category={{ cat.name.lower }}">{{ cat }}</a> {% endfor %}
        </div>
    </div>

    <div class="pt-3">
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ context.comment_form.as_table }}
            <button type="submit" class="save btn btn-sm btn-primary mt-2">Save</button>
        </form>
    </div>

    <h5>Comments ({{context.comments.count}})</h5>
    
    <div class="card mt-4">
        <div class="card-body">
        {% for comment in context.comments  %}
            <p class="card-text"><span class="font-weight-bold">{{ comment.comentator }} : </span> {{ comment.text }} 
                {% if user.id == comment.comentator_id  %}
                    <a class="float-right" href="{% url 'blog:comment_delete' post_id=context.post.pk pk=comment.pk %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                    <a class="float-right" href="{% url 'blog:post_detail' pk=context.post.pk %}?comment_id={{comment.pk}}"><i class="fas fa-pencil-alt"></i></a>
                    
                {% endif %}
            </p>
            <hr>
        {% endfor %}
        </div> 
    </div>
    

    

{% endblock %}